.rootTitle {
    font-family: Roboto-condensed, sans-serif;
}

.xl {
    font-size: 12rem;
}

.l {
    font-size: 10rem;
}

.m {
    font-size: 8rem;
}

.s {
    font-size: 6rem;
}

.xs {
    font-size: 4rem;
}