.rootTitle {
    // font-family: Roboto, sans-serif;
}

.xxxl {
    font-size: 16rem;
}

.xxl {
    font-size: 14rem;
}

.xl {
    font-size: 12rem;
}

.l {
    font-size: 10rem;
}

.m {
    font-size: 8rem;
}

.s {
    font-size: 6rem;
}

.xs {
    font-size: 4rem;
}

.xxs {
    font-size: 2rem;
}

.xxxs {
    font-size: 1rem;
}

.robotoCondensed {
    font-family: "Roboto Condensed", sans-serif;
}

.w400 {
    font-weight: 400;
}

.w600 {
    font-weight: 600;
}

.w700 {
    font-weight: 700;
}

.w900 {
    font-weight: 900;
}

.uppercase {
    text-transform: uppercase;
}

.white {
    color: #ffffff;
}

.black {
    color: #000000;
}