.rootProjects {
    height: 80dvh;
    width: 90dvw;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: row;

    .blockStart {
        flex: 2;
        border-right: 1px solid #000000;
        height: 100%;
    }

    .blockEnd {
        flex: 5;
    }
}